<div>
<p>This is a personal blog where daily quotes are posted, quotes about life and the surroundings. They are easily digestible quotes that could be put to practice in every way of life.</p>
<p>People tend to read more of inspiring quotes and thats the reason this is basically quotes of life so that individual could learn from it. </p>
</div>
