<p>If you clicked on this button(help) and want to return back to the blog page, click on the home button and it shows the daily post.</p>
<p>If u wish to view previous posts, they are shown below the current post and then all you need do is to view the quotes</p>
<p>The update button is for the user (blogger) to be able to edit and then create a new post</p>
<p>When clicked on and there is no provision of the password and user id, it takes you the viewer to another page which says "Not authorized"</p>
<p>To go back to the blog page, the user might need to do a backward click on the url or type in "localhost:4567" in the url</p>